@import '_crt';
@import '_glitch';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
	font-family: 'VT323', monospace;
	color: #00FF00;
}
body {
	background-color: black;
	margin: 0px;
	padding: 0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.entry {
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: row;

	background-color: black;
	border-top: 2px #00ff00 solid;
	z-index: 0;
	p {
		width: 5%;
		margin: 0;
		padding: 0;
		padding-right: 10px;
		padding-top: 10px;

		text-align: right;

		font-size: 1.5em;
	}
	input {
		margin: 0;
		padding: 0;

		width: 90%;
		height: 40px;

		background-color: black;
		border-style: none;
		font-size: 1.5em;

	}
	input::selection {
	  background: blue; /* WebKit/Blink Browsers */
	}
	input::-moz-selection {
	  background: blue; /* Gecko Browsers */
	}
}

#output {
	padding-bottom: 50px;
	padding: 0 20px 50px 20px;
	p {
		font-size: 1.5em;
	}
}

.logo {
	width: 100vw;
	height: 80vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	img {
		width: auto;
		height: 60vh;
	}
}
.flicker { animation: random-logo-flicker 30s + random(10) infinite; }

@media screen and (max-width: 500px) {
	.logo {
		width: 100vw;
		height: 60vh;
		// margin-top: 25px; 
		img {	
			height: 40vh;
			// margin-top: 25px;
		}
	}
}

@keyframes random-logo-flicker {
	0% {opacity: 0;}
	80% {opacity: 0;}
	85% {opacity: 0.2}
	90% {opacity: 0;}
	92% {opacity: 0;}
	93% {opacity: 0.15}
	97% {opacity: 0.2}
	100% {opacity: 0;}
}

// Enable super-image

.superlogo {
	opacity: 1 !important;
}








